@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
  background-image: url("blue-snow.png");
}

.navbar-brand{
  font-family: "Indie Flower";
}


.jumbotron{
  background-color: lightsalmon;
}

.display-4{
  color: aliceblue;
  font-family: "Indie Flower";
}

.lead{
  color: aliceblue;
  font-family: "Indie Flower";
}